extends layout


block content
  - var srm2hex = require('srm2hex');
  - var formatMins = function(mins) { return mins == 1 ? mins + " minute" : mins + " minutes" };
  - var formatPercent = function(pct, pr) { return (pct * 100).toFixed(pr||0) + '%' }
  - var formatAmount = function(amt, pr, unit) { return amt.toFixed(pr) + unit };
  - var _ = require('underscore');

  .title.section
    h1= name
    div.namesub
      | #{style}
      span.brewer= brewer
  .batch-info.section
    div.batch-info
      h3 Batch Overview
      div.kv-pair
        span.key Batch Size
        - var formattedBatchSize = formatAmount(batchSize, 2, 'L');
        span.val= formattedBatchSize
      div.kv-pair
        span.key Boil Size
        - var formattedBoilSize = formatAmount(boilSize, 2, 'L');
        span.val= formattedBoilSize
      div.kv-pair
        span.key Boil Time
        - var formattedMins = formatMins(boilTime)
        span.val= formattedMins
      div.kv-pair
        span.key Efficiency
        - var efficiencyFormatted = formatPercent(efficiency);
        span.val= efficiencyFormatted 
    div.recipe-info
      h3 Recipe Overview
      div.kv-pair
        span.key OG
        span.val= og
      div.kv-pair
        span.key FG
        span.val= fg
      div.kv-pair
        span.key ABV
        - var abvFormatted = formatPercent(abv,1);
        span.val= abvFormatted
      div.kv-pair
        span.key IBU
        span.val= ibu
      - var hexcol = srm2hex(color)
      div.kv-pair
        span.key Colour
        span.val 
          | #{color}
          .colindicate(style="background-color:#{hexcol}")
  div.fermentables.section
    h2 Fermentables
    - var fkeys = Object.keys(fermentables);
    - var totalGrain = _.reduce(fkeys, function(total, fermentable) {
    -     return total + fermentables[fermentable];
    -   }, 0);
    for amount, fermentable in fermentables
      div.kv-pair
        -var formattedAmount= amount + 'kg (' + formatPercent(amount/totalGrain) + ')';
        span.key= formattedAmount 
        span.val= fermentable
  div.mash.section
    h2 Mash
    for step, num in mash
      .mash-step
        h3
          span.num ##{num + 1} 
          span.step-name #{step.name}
          span.mash-step-type= step.type
        div.kv-pair
          span.key Amount
          -var literAmount = step.amount + "L";
          span.value=literAmount
        div.kv-pair
          span.key Length
          -var formattedLength = formatMins(step.length);
          span.value= formattedLength
        div.kv-pair
          span.key Target temp
          -var formattedTargetTemp = step.targetTemp + "ยบ C";
          span.value= formattedTargetTemp
        div.kv-pair
          span.key Infusion temp
          -var formattedInfusionTemp = step.infusionTemp + "ยบ C";
          span.value= formattedInfusionTemp
  - var allAdditions = hops.concat(additions);
  - var steps = _.chain(allAdditions).pluck('use').uniq().value();
  - var hasNumericTime = function(add) { return typeof add.time == 'number' };
  - var numericallyTimed = _.chain(allAdditions).filter(hasNumericTime).sortBy(function(add) { return -add.time }).value();
  - allAdditions = numericallyTimed.concat(_.reject(allAdditions, hasNumericTime));
  - var groupedAdditions = _.groupBy(allAdditions, function(add) { return add.use });
  div.additions.section
    h2 Additions
    for step in steps
      - var times = _.chain(groupedAdditions[step]).pluck('time').uniq().value();
      - var timeGroupedAdditions = _.groupBy(groupedAdditions[step], function(add) { return add.time });
      h3.step= step
      for time in times
        -var formattedTime = typeof time == 'number' ? formatMins(time) : time;
        div.addition-group-wrap
          h3.time 
            .icon-time
            | #{formattedTime}
            .icon-arrow-right
          div.addition-group
            for addition in timeGroupedAdditions[time]
              div.addition 
                - var formattedAmount = typeof addition.amount == 'number' ? addition.amount + 'g' : addition.amount;
                span.amount= formattedAmount
                span.name= addition.name
                if addition.aa
                  - var aa = formatPercent(addition.aa, 1).replace('%','');
                  span.aa= aa
  div.yeast.section
    h2 Yeast
    if yeast.code
      span.code= yeast.code
    span.name= yeast.name
    - var formattedAmount = typeof yeast.amount == 'number' ? yeast.amount + 'ml' : yeast.amount;
    span.amount= formattedAmount
